page {
	height:100%;
	width: 100%;
}
.container{
	height: 100%;
	width: auto;	 
}
.cartEmpty{
		height: 100%;
		width: 100%;
		margin-top: 155rpx;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center; 
	}
	.cartEmptyImg{
		width: 200rpx;
		height: 200rpx;
		display: flex;
		align-items: center;
		
	}
	.tip{
		height: 30rpx;
		text-align:center;
		font-size: 28rpx;
		//color: #999999;
		line-height: 60rpx;
	}
	.login{
		width: 90%;
		height:90rpx;
		background: #4CD964;
		border-radius: 25rpx;
		text-align: center;
		line-height: 80rpx;
		margin-top: 100rpx;
	}

.cartListBox{
		height: 100%;
		width: auto;
		margin-top:5rpx;
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}	
	.cartItem{
		width: 95%;
		height: 150rpx;
		margin-top: 20rpx;
		display: flex;
		flex-direction: row;
		align-items: center;
		//background: #3F536E;
	}
	.cartImg{
		height: 140rpx;
		width: 160rpx;
		display: flex;
		justify-content: center;
		//background: #DD524D;
	}
	.itemContent{
		margin-left: 20rpx;
		height: 100%;
		flex: 1;
		//background: #007AFF;
	}
	.tipTop{
		height: 60%;
		font-size: 32rpx;
	}
	.tipBottom{
		height: 40%;
		
		display: flex;
		flex-direction: row;
		align-items: center;
	}
		
	.money{
		width: 50%;
		height: 40rpx;
		margin-left: 10rpx;
	}
	.qtyBox{
		width: 45%;
		height: 50rpx;
		border-radius: 25rpx;
		border: 1rpx solid #e3e5ee;
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
		line-height: 40rpx;
	}
	.jian{
		width: 60rpx;
		margin-right: 0;
	}
	.jia{
		width: 60rpx;
		margin-right: 0;
	}
	.qty{
		flex: 1;
		border-left: 1rpx solid #e3e5ee;
		border-right: 1rpx solid #e3e5ee; 
	}