page {
	height:100%;
	width: auto;
	background:linear-gradient(#5595ff, #8739e6);
}
.container{
	height: 100%;
	width: 100%;	 
}
.bg-set{
     position: fixed;
     width: 100%;
     height: 300rpx;
     top: 20;
     left: 0;
     z-index: -1;
 }
.content{
 	 width: auto;
 	 height: 100%;
 	 padding: 30rpx;
 	 display:flex;
 	 flex-direction: column; 
 	 align-items: center;
 }
 
 .top-box{
	 height: 500rpx;
	 width: 100%;
	 border-radius: 25rpx;
	 border:2rpx solid #b8ffd6;
	 background: #F8F8F8;
	 display: flex;
	 flex-direction: column;
 }
 .top-item{
	 weight:100%;
	 height: 200rpx;	
	 display: flex;
	 flex-direction: row;  
	 border-radius: 25rpx;
	 align-items: center;
 }
 .top-button{
	 width: 90%;
	 height: 80rpx;
	 display: flex;
	 justify-content: center;
	 background: #4CD964;
	 font-size: 30rpx;
 }
 
 .title{
	 padding: 100rpx;
	 width: 50%;
	 height: 100%;
	 padding:5rpx;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;	
}
	 

.top-img{
		 width: 10rpx;
		 height: 100rpx;		
	 }

.center-box{
	width: 100%;
	margin: 40rpx 40rpx;
	background: #f8f8f8;
	border:2rpx solid #b8ffd6;
	border-radius: 25rpx;
	}
.row{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-left: 20rpx;
			margin-top: 20rpx;
			}			
		.center-item{
				width: 18%;
				display: flex;
				flex-direction: column;	 
				justify-content: center;
				align-items: center;
				// position: relative;
				margin: 10rpx 20rpx;
				
			}
	
.item-img{				
		width:70rpx;				
		height:70rpx;	
		}
.center-item text{
	font-size:26rpx;
}





 