page {
	height:100%;
	width: 100%;
	background-color: #eeeeee;
}
.container{
	display: flex;
	flex-direction: column;	
	width: 100%;
	height: 100%;
	}
	
.123{
	 padding: 30rpx;
	 	flex-grow: 1;
	 	background:#ffffff;
	 	margin-top:2rpx;
	 	border-radius: 20rpx;
	 	display: flex;
	 	flex-direction: column;
	 	align-items: center;
	 	justify-content: center;
	 
}
.scrool-more {
		display: none;
		flex-grow: 1;
	}

	
.class-box{
	height:80rpx;
	width: 100%;	
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1rpx solid #C0C0C0;
	.text-title{
	margin-left: 20rpx;
	align-items: center;
	font-size: 30rpx;
	color: #999999;
	}
}

.img-add{
	width: 60rpx;
	height: 60rpx;
	margin-left: 650rpx;
}
.product-box{
	width:  100%;
	height: 180rpx;
	display: flex;
	flex-direction: row;
	align-items: center;
	// justify-content: center;
	background: #ffffff;
	border-bottom: 1rpx solid #C0C0C0;
	font-size: 30rpx;
	color: #626262;
}
.img-box{
	margin-left: 20rpx;
	width:150rpx;
	height:150rpx;
	border: 1rpx solid #c9dce6;
	border-radius: 15rpx;
}
.info-box {
	margin-left: 20rpx;
	height:140rpx;  
	width: 65%;
}
.productName{
	font-size: 30rpx;
	color: #333333;
	height: 35%;
}
.info-other{
	display: flex;
	flex-direction: row;
	font-size: 25rpx;
	color: #bfbfbf;
	height: 65%;
	width: 100%;
	//background: #666666;
}
.info-left{
	// margin-left: 10rpx;
	width: 230rpx;
	font-size: 25rpx;
	color: #bfbfbf;
}
.info-right{
	width: 100rpx;
	margin-left: 30rpx;
	font-size: 25rpx;
	color: #bfbfbf;
}
.img-edit{
	width:340rpx;
	height:340rpx;
	margin-left: 15rpx
}
.img-add{
	margin-right: 20rpx;
}

.bottom-box{
	width: 100%;
	height: 300rpx;
	background: #ffffff;
	
}

