page {
	height:100%;
	width: 100%;
	background-color: #eeeeee;
}
.container{
	height: 98%;
	width: 100%;
	padding-left: 10rpx;
	padding-right: 10rpx;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.basic-box {
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #ffffff;
	margin-top: 12rpx;
	padding: 10rpx;
	// margin-left: 10rpx;
	// margin-right: 10rpx;
	border-radius: 15rpx;
}
.text-box{
	width: 100%;
	height: 60rpx;
	border-bottom: 1rpx solid #c3c3c3;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
// 可滚动区域样式
.scroll-Y {
	width: 96%;
		//padding: 15rpx;
		flex: 1;
		background: #ffffff;
		margin-top: 2rpx;
		border-radius: 20rpx;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}


.data-custom-box{
	width:100%;
	height: 100rpx;
	//margin-left:5rpx;
	//background: #DD524D;
	border-bottom: 1rpx solid #e6e6e6;
	display: flex;
	align-items: center;
	
	
}
.t{
	margin-right: 400rpx;
	}
.img-box{ 
	width: 50rpx;
	height: 50rpx;
	margin-left:10rpx;
	margin-right:20rpx;
}

.img-right-box{
	width: 40rpx;
	height: 40rpx;
	margin-left: auto;
}

.checked-box {
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #ffffff;
	margin-top: 12rpx;
	border-radius: 15rpx;
	padding: 10rpx;
}
.check-box{
	height: 50rpx;	
	display: flex;
	
	//justify-content: center;
	align-items: center;
}

.img-add{
	 height:40rpx ;
	 width: 40rpx;
}
.checked-boxtext{
	//margin-left: 280rpx;
}
.t1{
	color: #C8C7CC;
}
.t2{
	margin-left: 20rpx;
	color: #333333;
}

.cartListBox{
		flex:1;
		width: 98%;
		margin:15rpx;
		
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 15rpx;
	}	
	.cartItem{
		// width: 95%;
		height: 160rpx;
		margin: 15rpx;
		display: flex;
		flex-direction: row;
		align-items: center;
		background: #ffffff;
		border-radius: 25rpx;
		padding: 15rpx 25rpx;
		border:1rpx solid #4CD964;
	}
	.item-Checkbox{
		height: 60rpx;
		width: 60rpx;
		margin-left: 20rpx;
	}	
	.cartImg{
		height: 100rpx;
		width: 100rpx;
		display: flex;
		justify-content: center;
		//background: #DD524D;
	}
	.itemContent{
		margin-left: 20rpx;
		height: 100%;
		flex: 1;
		//background: #007AFF;
		display: flex;
		flex-direction: column;
	}
	.tipTop{
		// height: 200rpx;
		flex:1;
		width: 100%;
		font-size: 32rpx;
		display: flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		//align-items: center;
		//background: #3F536E;
	}
	.pname{
		font-size: 28rpx;
		color: #b2b1b5;
		line-height: 60rpx;
	}
	.p-y{
		display: flex;
		width: 100%;
		flex-direction: row;
		line-height: 30rpx;
		//background: #4335D6;
	}	
	// .price{
	// 	width: 50%;
	// 	font-size: 26rpx;
	// 	color: #d30000;
	// }
	.yinshou,.price{
		width:70%;
		font-size: 26rpx;
		color: #cacaca;
		display:flex;
		flex-direction: row;
		//background: #0000ff;
	}
		
	.tipBottom{
		height: 60rpx;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		//background: #0000ff;
	}
		
	.money{
		width: 70%;
		height: 40rpx;
		display: flex;
		flex-direction: row;
		font-size: 26rpx;
		//background: #0000ff;
		align-items: center;
	}
	.qtyBox{
		width: 30%;
		height: 50rpx;
		border-radius: 25rpx;
		border: 1rpx solid #4CD964;
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
		line-height: 50rpx;
		align-self: flex-end;
		//background: #ff55ff;
		
	}
	.jian{
		width: 50rpx;
		margin-right: 0;
	}
	.jia{
		width: 50rpx;
		margin-right: 0;
	}
	.qty{
		flex:1;
		border-left: 1rpx solid #e3e5ee;
		border-right: 1rpx solid #e3e5ee; 
		font-size: 26rpx;
		color: #red;
	}
.scrollbottomBox{
		height: auto;
		width: auto;
		margin-top:15rpx;
		margin-bottom: 15rpx;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 15rpx;
		background: #f34b09;
		padding: 0rpx 25rpx;
	}	
 .bottom-Box{
	 margin-top: 20rpx;
	 display: flex;
	 height: 80rpx;
	 flex-direction: row;
	 width:95%;
	 //justify-content: center;
	 //align-items: center;	
 }
 
 .bt{
 	 width: 45%rpx;
 	 height: 65rpx;
 	 display: flex;
 	 border:1rpx solid #4CD964;
 	 border-radius: 15rpx;
 	 line-height: 65rpx;
 	 text-align: center;
 	 justify-content: center;
 	 margin: 20rpx;
 	 flex-basis: 50%;
 }
 
 .shishouTxt
 {	
	 width:100rpx;
	 display: flex;
	flex-direction: row;
	align-items: center;
	//background: #555555;
 }
 input{
	 font-size: 26rpx;
	 color: #FF0000;
	 right: 2rpx;
 }

